*{
margin: 0;
box-sizing: border-box;
}

.container{
    text-align: center;   
    background-color:#90ee90;
}

.container h1{
    margin: 20;
}

.registration-form{
    align-items: center;
    width: 600px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    /* background-color: darkgray; */
    padding-left: 400px;
}

.registration-form input,
.registration-form select,
.registration-form textarea{
    padding: 5px;
    border: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
    margin-left: .5px;
}

