html , body , fieldset , form , ol , li, h1 , legend {
    margin: 0;
    padding: 0;
}

body{
    background: #ffffff;
    color: #111111;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
}

#payment{      
    background: #9cbc2c;
    border-radius: 5px;
    padding: 25px;
    width: 400px;
}

#payment fieldset{
    border: none;
    margin-bottom: 20px;
}

#payment fieldset:last-of-type{
     margin-bottom:0px ;
}

#payment legend{
    color: #384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
    margin-left: 0px;
}

form#payment > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}

form#payment fieldset fieldset legend{
    font-size: 13px;
    padding-bottom: 2px;
    color: #111111;
    font-weight: normal;
} 

form#payment ol ol li {
	background: none;
	border: none;
	float:left;
    padding-bottom: 5px;
}

form#payment ol li {
	background: #b9cf6a;
	border-color: #e3ebc3;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}


